#accountIcon{
    height: 25px;
    width: 25px;
}

#helpIcon{
    height: 31px;
    width: 31px;
}

.HelpBtn, .AccountBtn, .RegisterBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.HelpBtn{gap: 8px}

.AccountBtn{gap: 10px; margin-bottom: 10px}

.RegisterBtn{gap: 10px}

.HelpBtn label, .AccountBtn label, .RegisterBtn label{
    cursor: pointer;
}

.HeaderBtns{
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.AuthDropdown{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 17px
}

.DropdownMenu{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.DropdownMenu a, .DropdownMenu span{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(4,172,132, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    transition: opacity 0.1s, transform 0.1s;
}

.DropdownMenu span{
    cursor: pointer
}

.AccountBtn:hover + .DropdownMenu,
.AuthDropdown:hover .DropdownMenu {
    opacity: 1;
    pointer-events: auto;
}



@media (max-width: 768px) {
    .HeaderBtns {
        gap: 20px;
    }
  }