.candidateContainer{
    margin-top: 10px;
    width: 345px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 15px;
    background-color: white;
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
}

.candidates{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.respondBtn{
    width: 50%;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    transition: .3s;
    font-weight: 600;
    margin-top: 40px
}

.respondBtn{
    background-color: var(--green-color);
    color: white;
}

.callBtn{
    background-color: white;
    color: var(--green-color);
    border: 2px solid var(--green-color);
    margin-right: 15px;
}

.respondBtn:hover{
    cursor: pointer;
    background-color: rgb(22, 192, 152);
    transition: .3s;
}

.callBtn:hover{
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    transition: .3s;
}

.btns{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .vacancyContainer {
      flex: 0 0 100%;
      height: auto;
    }

    .vacancies{
        justify-content: center;
        width: 150%;
    }

    .work {
      font-size: 18px;
    }

    .salary,
    .company,
    .city,
    .time {
      font-size: 14px;
    }

    .respondBtn,
    .callBtn {
      width: 95%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .callBtn{
        margin-bottom: 15px;
    }

    .btns {
      flex-direction: column;
    }
  }