.formAuth{
    width: 50%;
    height: 600px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 25%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.h1Auth{
    padding: 20px;
    margin-top: 90px
}

.inputAuth{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login, .password{
    width: 310px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 15px;
}

.login:focus, .password:focus{
    outline: solid #1890ff 1px;
}

.passContainer{
    display: flex;
    align-items: center;
}

.eyePsw{
    height: 20px;
    position: relative;
    right: 30px;
}

.eyePsw:hover{
    cursor: pointer;
}

.btnsAuth{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: -1.4%
}

.authBtn, .regBtn, .restoreAccessBtn{
    width: 330px;
    height: 40px;
    border: 0px;
    border-radius: 4px;
    font-size: 15px;
    transition: .3s;
    margin-left: -15px;
}

.authBtn:hover, .regBtn:hover, .restoreAccessBtn:hover{
    cursor: pointer;
    transition: .3s;
}

.authBtn{
    color: white;
    background-color: #1890ff;
    transition: .3s;
}

.authBtn:hover{
    background-color: rgb(22, 192, 152);
}

.regBtn:hover{
    background-color: rgb(236, 236, 236);
}

.restoreAccessBtn{
    background-color: white;
}

.restoreAccessBtn:hover{
    background-color: rgb(236, 236, 236);
}

@media (max-width: 768px){
    .formAuth{
        width: 100%;
        margin-top: 150px;
        margin-left: 30%;
    }
    .btnsAuth{margin-right: -3.5%}
}