.form-container {
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 7%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10%;
  font-family: Arial, sans-serif;
  background: white;
  border-radius: 10px;
}


.switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  margin-left: 3%;
}

.switch-btn, .nextBtn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.nextBtn{
    background-color: #1890ff;
    color: white;
    margin-left: 30%;
    margin-top: 20px;
    width: 30%
}

.switch-btn.active {
  background: #1890ff;
  color: white;
  border-color: #1890ff;
}

.forms-wrapper {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.form {
  flex: 1;
  padding: 20px;
  transition: all 0.3s;
  margin-bottom: 20px
}

.active-form {
  opacity: 1;
}

.inactive-form {
  opacity: 0.5;
  background: #f9f9f9;
  pointer-events: none;
}

.divider {
  width: 1px;
  background: #ddd;
}

.form-group {
  margin-bottom: 15px
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
}