.editForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
}

.editTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.editInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 5px;
}

.editTextarea {
  padding: 10px;
  font-size: 16px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

.editLabel{
    margin-bottom: -5px;
    font-size: 15px
}

.manyDiv{
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    gap: 5px
}

.btnDelete{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    border: solid 0px;
    border-radius: 10px;
    font-size: 30px
}

.btnDelete:hover, .btnAddNew:hover{
    cursor: pointer;
}

.btnAddNew{
    width: 195px;
    height: 40px;
    margin-left: 10px;
    border: solid 0px;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}