.tabs-container {
  font-family: sans-serif;
  max-width: 700px;
  margin: 100px auto;
}

.tabs-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tab-button.active {
  background-color: #2196f3;
  color: #fff;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.btnSaveChanges{
    background-color: #2196f3;
    border: solid 0px;
    color: white;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    margin-left: 35%;
}

.btnSaveChanges:hover{
    cursor: pointer;
}